<template name="prodDetail">
    <h3 class="bg-primary">
        {{title}}
    </h3>
    <p class="bg-primary">基本信息</p>
    <div>{{intro}}</div>
    <div>关键标签：{{tag}}</div>
    <div>官网链接或微信号：{{url}}</div>
    <p class="bg-primary">用户场景及痛点（Demand）</p>
    <div>场景和痛点：<pre>{{pain}}</pre></div>
    <div>程度：{{painLvl}} （5最大）</div>
    <div>这个痛点和你有什么联系：<pre>{{pnToMe}}</pre></div>
    <p class="bg-primary">产品特色（Supply）</p>
    <div><pre>{{special}}</pre></div>
    {{#if owns}}
        <button class="btn btn-primary" id="btn_ask">求助</button>
        <button class="btn btn-primary" id="btn_update">修改</button>
        <button class="btn btn-primary" id="btn_del">删除</button>
    {{/if}}
    <hr/>
    <p class="bg-primary">相关求助</p>
    {{#each asks}}
    <div><a href="/ask/detail/{{_id}}">{{title}}</a></div>
    {{/each}}
</template>