<template name="prodEdit">
    <form class="main form page" method="POST">
    <input type="hidden" name="id" id="id" value="{{_id}}"/>
    <p class="bg-primary">基本信息</p>
    <div>
        <input type="text" name="title" id="title" placeholder="产品名称" value="{{title}}" style="width:60%;"/>
    </div>
    <div>
        <input type="text" name="tag" id="tag" placeholder="关键词标签" value="{{tag}}" style="width:60%;"/>
    </div>
    <div>
        <input type="text" name="short_intro" id="short_intro" placeholder="产品一句话简介" value="{{intro}}" style="width:90%;"/>
    </div>
    <div>
        <input type="text" name="site_url" id="site_url" placeholder="官网链接或微信公众号" value="{{url}}" style="width:60%;"/>
    </div>
    <p class="bg-primary">用户场景及痛点</p>
    <div>
    <textarea name="pain_point" id="pain_point" placeholder="描述你的痛点" rows="5" style="width:90%;">{{pain}}</textarea>
    </div>
    <div>
    <label>程度（5最大）</label>
    <select name="pain_level" id="pain_level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </div>
    <div>
    <div><label>这个痛点和你有什么联系</label></div>
    <textarea name="pain_to_me" id="pain_to_me" placeholder="是您自己亲身经历的痛点？你是否深入了解这个行业？" rows="5" style="width:90%;">{{pnToMe}}</textarea>
    </div>
    <p class="bg-primary">产品特色</p>
    <div>
    <div><label>产品定位</label></div>
    <textarea name="special" id="special" placeholder="针对什么人？什么问题？你的解决方案具体的形式是什么？和现有方案有什么差异？" rows="5" style="width:90%;">{{special}}</textarea>
    </div>
    <div>
    <div><label>产品优势</label></div>
    <textarea name="advantage" id="advantage" placeholder="比如有大量用户；有专业技术..." rows="5" style="width:90%;">{{advtg}}</textarea>
    </div>
    <input type="submit" value="保存"/>
    </form>
</template>

<template name="prodNew">
    <h4>新建产品信息</h4>
    {{>prodEdit}}
</template>

<template name="prodUpdate">
    <h4>编辑产品信息</h4>
    {{>prodEdit}}
</template>