<template name="prodEdit">
    <form class="main form" method="POST">
    <input type="hidden" name="id" id="id" value="{{_id}}"/>
    <p class="bg-primary">基本信息</p>
    <div>
        <input type="text" name="title" id="title" placeholder="产品名称（必填）" value="{{title}}" style="width:60%;" required="required"/>
    </div>
    <div>
        <input type="text" name="tag" id="tag" placeholder="关键标签，用英文逗号分隔" value="{{tag}}" style="width:60%;"/>
    </div>
    <div>
        <input type="text" name="short_intro" id="short_intro" placeholder="产品一句话简介,（必填，10个字以上）" value="{{intro}}" style="width:90%;" required="required"/>
    </div>
    <div>
        <input type="text" name="site_url" id="site_url" placeholder="官网链接或微信公众号" value="{{url}}" style="width:60%;"/>
    </div>
    <p class="bg-primary">用户场景及痛点（Demand）</p>
    <div>
    <textarea name="pain_point" id="pain_point" placeholder="通过描述一个能够让人们对痛点产生共鸣的场景，来说明你针对的用户群和其痛点是什么？" rows="5" style="width:90%;">{{pain}}</textarea>
    </div>
    <div>
    <label>程度（5最大）</label>
    <select name="pain_level" id="pain_level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </div>
    <div>
    <div><label>这个痛点和你有什么联系</label></div>
    <textarea name="pain_to_me" id="pain_to_me" placeholder="是你自己亲身经历的痛点？你是否深入了解这个行业？你是否做过深入的用户访谈或调研等？" rows="5" style="width:90%;">{{pnToMe}}</textarea>
    </div>
    <p class="bg-primary">产品特色（Supply）</p>
    <div>
    <textarea name="special" id="special" placeholder="产品的具体形态是什么？针对什么细分人群的什么细分需求？该细分市场规模和发展速度如何？差异性和竞争优势是什么？" rows="5" style="width:90%;">{{special}}</textarea>
    </div>
    <input type="submit" value="保存"/>
    </form>
</template>

<template name="prodNew">
    <h3>新建产品</h3>
    <small>&nbsp;&nbsp;每个可售产品，请单独填一条记录、便于管理</small>
    {{>prodEdit}}
</template>

<template name="prodUpdate">
    <h4>编辑产品信息</h4>
    {{>prodEdit}}
</template>