<template name="prodDetail">
    <h3 class="bg-primary">
        {{title}}
    </h3>
    <p class="bg-primary">基本信息</p>
    <div>{{intro}}</div>
    <div>关键标签：{{tag}}</div>
    <div>官网链接：{{url}}</div>
    <p class="bg-primary">痛点</p>
    <div>产品痛点：<pre>{{pain}}</pre></div>
    <div>程度：{{painLvl}} （5最大）</div>
    <div>和你的联系：<pre>{{pnToMe}}</pre></div>
    <p class="bg-primary">产品特色</p>
    <div>定位：<pre>{{special}}</pre></div>
    <div>优势：<pre>{{advtg}}</pre></div>
    <p class="bg-primary">&nbsp;</p>
    <button class="btn btn-primary" id="btn_update">修改</button>
    <button class="btn btn-primary" id="btn_reply">留言</button>

</template>