<template name="layout">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/ask/new">新建求助</a></li>
        <li><a href="/ask/list">所有求助</a></li>
        <li><a href="/person/new">完善个人信息</a></li>
        <li><a href="/person/list">人员列表</a></li>
    </ul>
</div>
<div class="container">
    {{> header}}
    {{> errors}}
    <div id="main">
      {{> yield}}
    </div>
</div>
</template>