<template name="askDetail">
    <h3 class="bg-primary">
        {{title}}
    </h3>
    <div><small>由 {{author}} 于 {{created}} 创建</small></div>
    <p class="bg-info">标签: {{tag}}</p>
    <pre>
        {{detail}}
    </pre>

    <div class="row">
        <div class="col-xs-5">&nbsp;</div>
        <div class="col-xs-2"><a href="#" id="a_reply">回复</a></div>
        {{#if currentUser}}
        <div class="col-xs-2"><a href="#" id="a_del">删除</a></div>
        <div class="col-xs-2"><a href="/ask/update/{{_id}}">编辑</a></div>
        {{/if}}
    </div>
</template>