<template name="askDetail">
    {{#with ask}}
        <small>
        <div class="row" style="margin-bottom:-15px;">
            <div class="col-xs-4">作者：{{author}}</div>
            <div class="col-xs-4">创建：{{timeDiff created}}</div>
            <div class="col-xs-4">修改：{{timeDiff updated}}</div>
        </div>
        </small>
    <h3 class="bg-primary">
        {{title}}
    </h3>
    <div class="container" style="margin-top:-9px;">
        <div class="row">
            <div class="col-xs-6">标签: {{tag}}</div>
            <div class="col-xs-6"><label>相关产品：</label>
                {{#with forProd}}
                <a href="/product/detail/{{_id}}">{{title}}</a>
                {{/with}}
            </div>
        </div>
    </div>
    <pre>{{detail}}</pre>

    <div id="div_reply" class="hidden">
        <form class="main from">
            <input type="hidden" name="ask_id" id="ask_id" value="{{_id}}"/>
            <textarea name="comment" id="ta_comment" placeholder="请在这里发表评论，（必填，10个字以上）" style="width:90%"></textarea>
            <div class="row">
                <div class="col-xs-5">&nbsp;</div>
                <div class="col-xs-2"><input type="submit" value="保存"/></div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-3"><a href="#" id="a_reply">回复</a>（{{reCnt}}）</div>
        <div class="col-xs-3"><a href="#" id="a_vote">投票</a>（{{up}}）</div>
        {{#if ownAsk}}
        <div class="col-xs-2"><a href="#" id="a_del">删除</a></div>
        <div class="col-xs-2"><a href="/ask/update/{{_id}}">编辑</a></div>
        {{/if}}
    </div>
    {{/with}}
    {{#each replies}}
    <p class="bg-info" style="margin:0px;">{{author}} @ {{timeDiff created}}</p>
    <pre class="main" style="padding:2px;"> - {{comment}}</pre>
    {{/each}}
</template>