<template name="askEdit">
    <form class="main form" method="POST">
    <input type="hidden" name="id" id="id" value="{{_id}}"/>
    <div>
        <input type="text" name="title" id="title" placeholder="标题" value="{{title}}" required="required"/>*
    </div>
    <div>
    <label>标签</label>
    <select name="tag" id="tag" required="required">
        <option value="">求助标签...</option>
        <option value="">找人...</option>
        <option value="找人-技术"> － 技术</option>
        <option value="找人-运营"> － 运营</option>
        <option value="找人-产品"> － 产品</option>
        <option value="找人-销售"> － 销售</option>
        <option value="找人-渠道"> － 渠道</option>
        <option value="找人-合伙人"> － 合伙人</option>
        <option value="">找钱...</option>
        <option value="找钱-风投"> － 种子（1-10万）</option>
        <option value="找钱-天使"> － 天使（10-100万）</option>
        <option value="找钱-众筹"> － 初创（100-500万）</option>
        <option value="找方向">找方向及其他</option>
    </select>*
    </div>
    <div>
        <textarea name="detail" id="detail" pattern=".{10,500}" placeholder="详细信息，10个字以上" rows="5" value="{{detail}}" style="width:90%;"></textarea>
    </div>
    <input type="submit" value="保存"/>
    </form>
</template>

<template name="askNew">
    <h3>新建求助</h3>
    <small>&nbsp;&nbsp;每个求助事项，请单独填一条记录、便于管理</small>
    {{>askEdit}}
</template>

<template name="askUpdate">
    <h4>编辑求助</h4>
    {{>askEdit}}
</template>