<template name="askEdit">
    <form class="main form" method="POST">
    <input type="hidden" name="id" id="id" value="{{_id}}"/>
    <div>
        <input type="text" name="title" id="title" placeholder="标题（必填）" value="{{title}}" required="required" style="width:60%"/>
    </div>
    <div>
    <select name="tag" id="tag" required="required">
        <option value="">求助标签...</option>
        <option value="">找人...</option>
        <option value="找人-技术"> － 技术</option>
        <option value="找人-运营"> － 运营</option>
        <option value="找人-产品"> － 产品</option>
        <option value="找人-销售"> － 销售</option>
        <option value="找人-渠道"> － 渠道</option>
        <option value="找人-合伙人"> － 合伙人</option>
        <option value="">找钱...</option>
        <option value="找钱-种子期"> － 种子期（50万以下）</option>
        <option value="找钱-天使期"> － 天使期（50万及以上）</option>
        <option value="找方向">找资源及其他</option>
    </select> （必选）
    </div>
    <div>
        <select name="product" id="product">
            <option value="">相关产品...</option>
            {{#each myProducts}}
            <option value="{{_id}}">{{title}}</option>        
            {{/each}}
        </select> （必选）
    </div>
    <div>
        <textarea name="detail" id="detail" pattern=".{10,500}" placeholder="详细信息，（必填，10个字以上）" rows="5" value="{{detail}}" style="width:90%;"></textarea>
    </div>
    <input type="submit" value="保存"/>
    </form>
</template>

<template name="askNew">
    <h3>新建求助</h3>
    <small>&nbsp;&nbsp;每个求助事项，请单独填一条记录、便于管理；</small>
    {{>askEdit}}
</template>

<template name="askUpdate">
    <h4>编辑求助</h4>
    {{>askEdit}}
</template>