<template name="askList">
    <h4>求助列表</h4>
    {{#each asks}}
        {{>askItem}}
    {{/each}}
</template>

<template name="askItem">
    <div class="row">
        <div class="col-xs-1">
            <div class="row vote">
                <div class="col-xs-6">
                    <div class="row">
                        <a href="#" class="a_vote_up" id="a_up_{{_id}}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                    </div>
                    <div class="row">
                        <span id="vc_{{_id}}" style="width:100px;">{{vote}}</span>
                    </div>
                    <div class="row">
                        <a href="#" class="a_vote_down" id="a_down_{{_id}}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-11">
            <div class="bg-info" style="margin-top:10px;"><a href="/ask/detail/{{_id}}">[{{tag}}] <b>{{title}}</b></a> - {{author}}</div>
            <pre style="margin-bottom:0px;">{{abs}}</pre>
            <div class="row">
                <div class="col-xs-3"><small><span class="glyphicon glyphicon-plus-sign" title="创建"></span> {{timeDiff created}}</small></div>
                <div class="col-xs-3"><small><span class="glyphicon glyphicon-pencil" title="修改"></span> {{timeDiff updated}}</small></div>
                <div class="col-xs-3"><small><span class="glyphicon glyphicon-envelope" title="回复"></span> {{reCnt}}</small></div>
                <div class="col-xs-3"><small><span class="glyphicon glyphicon-eye-open" title="阅读"></span> {{pv}}</small></div>
            </div>
        </div>
    </div>
</template>