<template name="personDetail">
    <div>
        个人信息
    </div>
    <p class="bg-primary">其他信息</p>
    <div>姓名：{{name}}</div>
    <div>微信号：{{wxid}}</div>
    <div>电子邮箱：{{mail}}</div>
    <div>手机：{{mobile}}</div>
    <div>性别：{{sex}}</div>
    <div>出生年代：{{birth}}</div>
    <div>居住区域：{{loc}}</div>
    <div>籍贯：{{bthLoc}}</div>
    <p class="bg-primary">创投对接</p>
    <div>目前状态：{{status}}</div>
    <div>时间投入：{{timeIn}}</div>
    <div>资金投入：{{capIn}}</div>
    <div>所在行业：{{career}}</div>
    <div>创业方向：{{tgtArea}}</div>
    <p class="bg-primary">其他信息</p>
    <div>个人标签：{{tag}}</div>
    <div>择友标签：{{frndTag}}</div>
    <div>自我介绍：<pre>{{intro}}</pre></div>
    <p class="bg-primary">&nbsp;</p>
    <button class="btn btn-primary" id="btn_update">修改</button>
</template>