<template name="personDetail">
    <div>
        个人信息
    </div>
    <p class="bg-primary">基本信息</p>
    <div>姓名：{{name}}</div>
    <div>微信号：{{wxid}}</div>
    <div>电子邮箱：{{mail}}</div>
    <div>手机：{{mobile}}</div>
    <div>性别：{{sex}}</div>
    <div>出生年代：{{birth}}</div>
    <div>居住省市：{{loc}}</div>
    <div>所在行业：{{career}}</div>
    <p class="bg-primary">个人标签</p>
    <div>{{tag}}</div>
    <p class="bg-primary">自我简介</p>
    <div><pre>{{intro}}</pre></div>
    <p class="bg-primary">创投对接</p>
    <div>我想请创业狗帮助找投资：{{needInvest}}</div>
    <div>目前状态：{{status}}</div>
    <div>时间投入：{{timeIn}}</div>
    <div>资金投入：{{capIn}}</div>

    {{#if owns}}
        <button class="btn btn-primary" id="btn_update">修改</button>
    {{/if}}
    {{#if isRoot}}
        <button class="btn btn-primary" id="btn_del">删除</button>
    {{/if}}
    <hr/>
    <p class="bg-primary">我的产品</p>
    {{#with data}}
        {{#if prods}}
        {{>prodTable}}
        {{/if}}
    <p class="bg-primary">我的求助</p>
    {{#each asks}}
        <div><a href="/ask/detail/{{_id}}">{{title}}</a></div>
    {{/each}}
    {{/with}}
</template>